.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1em 0;
}

.icon {
  flex: 0 0 48px;
}

.body {
  font-size: 12px;
  line-height: 1em;
  color: #444;
  margin: 0 1em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  word-break: break-all;
}

.messageOwn {
  justify-content: flex-end;
}

.messageOwn .icon {
  order: 3;
}

.messageOwn .body {
  text-align: right;
}
